{% extends "base.html" %}
{% block content %}
<h1>Регистрация</h1>
<form method="post">
    <label>ФИО</label>
    <input type="text" name="full_name" placeholder="Введите ваше ФИО" required>

    <label>Год рождения</label>
    <input type="number" name="birth_year" placeholder="Введите год рождения" required>

    <label>Логин</label>
    <input type="text" name="username" placeholder="Логин" required>

    <label>Email</label>
    <input type="email" name="email" placeholder="Email" required>

    <label>Телефон</label>
    <input type="text" name="phone" placeholder="Телефон" required>

    <label>Пароль</label>
    <input type="password" name="password" placeholder="Пароль" required>

    <label>Подтвердите пароль</label>
    <input type="password" name="confirm_password" placeholder="Подтвердите пароль" required>

    <button type="submit">Зарегистрироваться</button>
</form>
{% endblock %}
